<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite  name="Avishek">
	
	<listeners>
	<listener class-name="AvishekLearning.BaseTest.Listeners"></listener>
</listeners>

  <test thread-count="3" name="SeleniumCompleteFramework">
    <classes>
     
     <class name="AvishekLearning.EndToEndTest"></class>
    </classes>
  </test> <!-- SeleniumCompleteFramework -->
</suite> <!-- Avishek -->
